<html>
<head>
</head>
<body>
    <div class="header">
        <a href="https://portal.azure.com/" target="_blank"> <img src="azure-logo.jpg" height="100" width="242"> </a>
    </div>


    <font size="6" color="Black" face="calibri"> Welcome to our company's Microsoft Azure "Managed Service Catalogue". <br /> <br />Please choose what you want to deploy to the Microsoft Azure Platform.  </font>

    <table style="width:60% " ;font-family="calibri">
        <tr>
            <td><font size="5" color="Black" face="calibri"><u><b> Type</u> </b></font></td>
            <td><font size="5" color="Black" face="calibri"><u><b>Size</u></b></font></td>
            <td><font size="5" color="Black" face="calibri"><u><b>Specs</u></b></font></td>
            <td><font size="5" color="Black" face="calibri"><u><b>Deploy Now</u></b></font></td>
            <td><font size="5" color="Black" face="calibri"><u><b>Approval required</u></b></font></td>
        </tr>
        <tr>
            <td><font size="5" color="blue" face="calibri"> Windows Server 2012 R2 DE </font></td>
            <td><font size="5" color="blue" face="calibri"> Small</font></td>
            <td><font size="5" color="blue" face="calibri"> 1 CPU, 3.5 GB RAM</font></td>
            <td><a href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fludelwic%2Fwinsmall%2Fmaster%2Fazuredeploy.json" target="_blank"><img src="http://azuredeploy.net/deploybutton.png" /></td>
            <td><font size="5" color="blue" face="calibri"> No </font></td>
        </tr>
        <tr>
            <td><font size="5" color="blue" face="calibri"> Windows Server 2012 R2 DE </font></td>
            <td><font size="5" color="blue" face="calibri"> Medium</font></td>
            <td><font size="5" color="blue" face="calibri"> 2 CPU, 7.0 GB RAM</font></td>
            <td><a href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fludelwic%2Fwinmedium%2Fmaster%2Fazuredeploy.json" target="_blank"><img src="http://azuredeploy.net/deploybutton.png" /></td>
            <td><font size="5" color="blue" face="calibri"> No </font></td>
        </tr>
        <tr>
            <td><font size="5" color="blue" face="calibri"> Windows Server 2012 R2 DE </font></td>
            <td><font size="5" color="blue" face="calibri"> Large</font></td>
            <td><font size="5" color="blue" face="calibri"> 8 CPU, 28 GB RAM</font></td>
            <td><a href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fludelwic%2Fwinlarge%2Fmaster%2Fazuredeploy.json" target="_blank"><img src="http://azuredeploy.net/deploybutton.png" /></td>
            <td><font size="5" color="blue" face="calibri"> Yes </font></td>
        </tr>
        <td><font size="5" color="Red" face="calibri"> Linux Server Ubuntu </font></td>
        <td><font size="5" color="blue" face="calibri"> Small</font></td>
        <td><font size="5" color="blue" face="calibri"> 1 CPU, 3.5 GB RAM</font></td>
        <td><a href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fludelwic%2Flinsmall%2Fmaster%2FLinuxVirtualMachine.json" target="_blank"><img src="http://azuredeploy.net/deploybutton.png" /></td>
        <td><font size="5" color="blue" face="calibri"> No </font></td>
        </tr>
        <tr>
            <td><font size="5" color="Red" face="calibri"> Linux Server Ubuntu </font></td>
            <td><font size="5" color="blue" face="calibri"> Medium</font></td>
            <td><font size="5" color="blue" face="calibri"> 2 CPU, 7.0 GB RAM</font></td>
            <td><a href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fludelwic%2Flinmedium%2Fmaster%2FLinuxVirtualMachine.json" target="_blank"><img src="http://azuredeploy.net/deploybutton.png" /></td>
            <td><font size="5" color="blue" face="calibri"> No </font></td>
        </tr>
        <tr>
            <td><font size="5" color="Red" face="calibri"> Linux Server Ubuntu </font></td>
            <td><font size="5" color="blue" face="calibri"> Large</font></td>
            <td><font size="5" color="blue" face="calibri"> 8 CPU, 28 GB RAM</font></td>
            <td><a href="https://portal.azure.com/#create/Microsoft.Template/uri/https%3A%2F%2Fraw.githubusercontent.com%2Fludelwic%2Flinlarge%2Fmaster%2LinuxVirtualMachine.json" target="_blank"><img src="http://azuredeploy.net/deploybutton.png" /></td>
            <td><font size="5" color="blue" face="calibri"> Yes </font></td>
        </tr>

    </table>


    <br />
    <br />
    <font size="6" color="Black" face="calibri">Request other service</font>   <br />
    <font size="4" color="Black" face="calibri">--> Please contact <a href="mailto:youritsupport@yourcompany.com" target="_blank">youritsupport@yourcompany.com </a></font>
    <br />
    <br />
    <font size="6" color="Black" face="calibri">More information:</font>   <br />

    <a href="https://azure.microsoft.com/en-gb/documentation/articles/guidance-naming-conventions/ " target="_blank"> <font size="4" color="Black" face="calibri">--> Naming Conventions </font> </a><br />
    <a href="https://azure.microsoft.com/en-us/documentation/articles/role-based-access-control-what-is/" target="_blank"> <font size="4" color="Black" face="calibri">--> Role Based Access Control </font></a><br />
    <a href="https://azure.microsoft.com/en-us/documentation/articles/resource-manager-policy/ " target="_blank"> <font size="4" color="Black" face="calibri">--> Policies </font></a>


    <a href="Governance.txt " target="_blank"> <font size="4" color="Black" face="calibri"> (Examples) </font></a>

    <br />
    <a href="https://azure.microsoft.com/en-us/documentation/articles/resource-group-lock-resources/" target="_blank"> <font size="4" color="Black" face="calibri">--> Locks </font></a><br />
    <a href="https://azure.microsoft.com/en-us/documentation/articles/resource-group-using-tags/" target="_blank"> <font size="4" color="Black" face="calibri">--> Tags </font></a><br />
    <a href="https://azure.microsoft.com/en-us/documentation/templates/" target="_blank"> <font size="4" color="Black" face="calibri">--> All templates </font></a><br />
    <a href="https://github.com/Azure/azure-quickstart-templates" target="_blank"> <font size="4" color="Black" face="calibri">--> Github Azure repository </font></a><br />
    <a href="http://azureplatform.azurewebsites.net/en-us/" target="_blank"> <font size="4" color="Black" face="calibri">--> Microsoft Azure Services Overview </font></a><br />



    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>























</body>







</html>