@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>
    <font color="red">
        Disclaimer:<br /><br />
        <div>
            This website is a mock-up and is solely developed for DEMO and CONCEPT purposes only.<br /><br />
            Under NO circumstances should this website be used to deploy resources to any Microsoft Azure subscription.<br /><br />
            On the site there are many references to the official documentation that is needed for, but not limited to, customers to implement governance for their Microsoft Azure environments.
        </div>
    </font>
</h3>