@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This website is developed for demo purposes only.<br />
    The main goal is to collect all the required information that is needed for customers to implement governance for their Microsoft Azure environments. </p>
