@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron">
    <h1>Contoso's Service Catalogue</h1>
    <h2>Please choose what you want to deploy to the Microsoft Azure Platform</h2>
</div>
<div class="row" ng-controller="GovernanceController">
    <table class="table">
        <thead> 
            <tr>
                <th>Type</th>
                <th>Size</th>
                <th>Specs</th>
                <th>Deploy Now</th>
                <th>Visualize</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="template in templates">
                <td>{{template.type}}</td>
                <td>{{template.size}}</td>
                <td>{{template.specs}}</td>
                <td>
                    <span ng-if="template.approved || !template.needsApproval">
                        <a href="https://portal.azure.com/#create/Microsoft.Template/uri/{{template.uri}}" target="_blank"><img src="http://azuredeploy.net/deploybutton.png" /></a>
                    </span>
                    <span ng-if="template.needsApproval && !template.approved">
                        <button class="btn-danger" ng-click="template.approved = true">Approve</button>
                    </span>
                </td>
                <td>                   
                        <a href="http://armviz.io/#/?load={{template.uri}}" target="_blank"><img src="http://armviz.io/visualizebutton.png" /></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
