@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <a href="~/Home/Governance"><img src="~/images/Start.jpg" style="max-width: 100%; height: auto;  width: auto\9;" /></a>
    </div><br /><br />
    <div><b><br /><br />
           DISCLAIMER: THIS WEBSITE ONLY SERVES AS A DEMO WEBSITE.<br />
           NEVER USE THIS WEBSITE TO DEPLOY SYSTEMS ON YOUR ENVIRONMENTS.</b>
    </div>
</div>
