@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-md-12">
        <a href="~/Home/Governance"><img src="~/images/Start.jpg" style="max-width: 100%; height: auto;  width: auto\9;" /></a>
    </div>
</div>
