@{
    ViewData["Title"] = "Govern";
}
<div class="section section-slate09">
    <div class="row">
        <div class="col-lg-7">
            <h2>Govern</h2>
            <ul class="linkList">
                <li><a href="https://azure.microsoft.com/en-us/regions/" target="_blank">Regions</a></li>
                <li><a href="http://azureplatform.azurewebsites.net/en-us/" target="_blank">Services Overview</a></li>
                <li><a href="https://azure.microsoft.com/en-us/support/trust-center/" target="_blank">Trust Center</a></li>
                <li><a href="https://news.microsoft.com/cloudforgood/" target="_blank">A Cloud for Good</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/active-directory-whatis/ " target="_blank"> Azure Active Directory</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/role-based-access-control-what-is/" target="_blank">Role Based Access Control</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/role-based-access-control-custom-roles/" target="_blank">Role Based Access Control Custom Roles</a></li>
                <li><a href="https://azure.microsoft.com/en-gb/documentation/articles/guidance-naming-conventions/ " target="_blank"> Naming Conventions</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/resource-manager-policy/ " target="_blank">Policies</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/resource-group-lock-resources/" target="_blank">Locks</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/resource-group-using-tags/" target="_blank">Tags</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/resource-group-authoring-templates/" target="_blank">Azure Resource Manager templates </a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/services/automation/" target="_blank">Automation</a></li>
                <li><a href="https://www.microsoft.com/en-us/Openness" target="_blank">Open Source</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/security-get-started-overview/" target="_blank">Azure security overview</a></li>

            </ul>
        </div>
        <div class="col-lg-5 text-center">
            <img class="img-responsive" src="~/images/info.png" />
        </div>
    </div>
</div>
<div class="section section-slate09">
    <div class="row">
        <div class="col-md-5">
            <img class="img-responsive center-block" src="~/images/example.png" />
        </div>
        <div class="col-md-7">
            <h2>Deploy Examples</h2>
            <ul class="linkList">
                <li><a href="https://azure.microsoft.com/en-us/documentation/templates/" target="_blank">All templates</a></li>
                <li><a href="https://github.com/Azure/azure-quickstart-templates" target="_blank">Github Azure repository</a></li>
                <li><a href="~/images/governance.txt" target="_blank">Powershell Script Samples</a></li>
            </ul>
        </div>
    </div>

</div>


