@{
    ViewData["Title"] = "Home Page";
}
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Govern</h2>
        <ul>
            <li><a href="https://azure.microsoft.com/en-us/documentation/articles/active-directory-whatis/ " target="_blank"> Azure Active Directory</a></li>
            <li><a href="https://azure.microsoft.com/en-us/documentation/articles/role-based-access-control-what-is/" target="_blank">Role Based Access Control</a></li>
            <li><a href="https://azure.microsoft.com/en-us/documentation/articles/resource-group-authoring-templates/" target="_blank">Azure Resource Manager templates </a></li>
            <li><a href="https://azure.microsoft.com/en-gb/documentation/articles/guidance-naming-conventions/ " target="_blank"> Naming Conventions</a></li>
            <li><a href="https://azure.microsoft.com/en-us/documentation/articles/resource-manager-policy/ " target="_blank">Policies</a></li>
            <li><a href="https://azure.microsoft.com/en-us/documentation/articles/resource-group-lock-resources/" target="_blank">Locks</a></li>
            <li><a href="https://azure.microsoft.com/en-us/documentation/articles/resource-group-using-tags/" target="_blank">Tags</a></li>
            <li><a href="http://azureplatform.azurewebsites.net/en-us/" target="_blank">Microsoft Azure Services Overview</a></li>
            <li><a href="https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-manage-availability/" target="_blank">Manage the availability of virtual machines</a></li>
            <li><a href="https://azure.microsoft.com/en-us/documentation/articles/resiliency-high-availability-checklist/" target="_blank">High availability checklist</a></li>
        </ul>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block"  src="~/images/info.png" />
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block"  src="~/images/example.png" />
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Deploy Examples</h2>
        <ul>
            <li><a href="https://azure.microsoft.com/en-us/documentation/templates/" target="_blank">All templates</a></li>
            <li><a href="https://github.com/Azure/azure-quickstart-templates" target="_blank">Github Azure repository</a></li>
            <li><a href="~/images/governance.txt" target="_blank">Powershell Script Samples</a></li>
        </ul>
    </div>
</div>
<hr class="featurette-divider">


