@{
    ViewData["Title"] = "Request";
}

<div class="section section-slate09">
    <div class="row">
        <div class="col-lg-7">
            Your internal IT department is ready to support you and make sure all the services you need are available in our internal catalogue to accelarate (y)our business. 
            This will make sure that the cloud services are deployed and managed in a Contoso's approved, controled and efficient manner (within companies policy).<br /> <br />

            Please contact <a href="mailto:youritsupport@contoso.com" target="_blank"> youritsupport@contoso.com </a> if you did not found what you are looking for. <br /> 
            
            Describe the Azure service you want as detailed as possible. We will evaluate your request and add it to the service catalogue if appropriate and keep you informed.<br /> <br />
            We are also open to any suggestion or feedback on how we can optimize the catalogue, so please do not hesitate to contact <a href="mailto:youritsupport@contoso.com" target="_blank"> us </a>.
        </div>
        <div class="col-lg-5">
            <img class="img-responsive" src="~/images/monitoring.png" />
        </div>
    </div>
</div>

