@{
    ViewData["Title"] = "Home Page";
}


<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">Please contact <a href="mailto:youritsupport@contoso.com" target="_blank">youritsupport@contoso.com </a></h2>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="~/images/monitoring.png" />
    </div>
</div>

