@{
    ViewData["Title"] = "Track_and_Optimize";
}

<div class="section section-slate09">
    <div class="row">
        <div class="col-lg-7">
            <h2>Track Azure consumption, control costs and optimize</h2>
            <ul>
                <li><a href="http://ea.azure.com" target="_blank">Azure EA portal </a></li>
                <li><a href="https://account.windowsazure.com/Home/Index" target="_blank">Azure Account portal</a></li>
                <li><a href="http://portal.azure.com" target="_blank">Azure portal (new) </a></li>
                <li><a href="https://manage.windowsazure.com" target="_blank">Azure portal (old) </a></li>
                <li><a href="https://powerbi.microsoft.com/en-us/blog/visualize-your-azure-enterprise-data-with-power-bi/" target="_blank">Power BI</a></li>
                <li><a href="http://www.edmondek.com/" target="_blank">Usage Analytics Report</a></li>
                <li><a href="http://portal.newsignature.com" target="_blank">newsignature.com</a></li>
                <li><a href="http://www.hanuinsight.com/" target="_blank">hanuinsight.com</a></li>
                <li><a href="http://www.cloudcruiser.com/" target="_blank">cloudcruiser.com</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/billing-usage-rate-card-overview/" target="_blank">Billing API</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/billing-subscription-faq/" target="_blank">Billing and subscription FAQ</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/azure-subscription-service-limits/" target="_blank">Subscription and service limits, quotas, and constraints</a></li>
            </ul>
        </div>
        <div class="col-lg-5 text-center">
            <img class="img-responsive" src="~/images/consumption.png" />
        </div>
    </div>
</div>
<div class="section section-slate09">
    <div class="row">
        <div class="col-lg-5">
            <img class="img-responsive" src="~/images/request.png" />
        </div>
        <div class="col-lg-7">
            <h2>Monitor and Manage your hybrid environment</h2>
            <ul>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/monitoring-overview-activity-logs/" target="_blank">Azure Activity Log</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/services/security-center/" target="_blank">Security Center</a></li>
                <li><a href="https://azure.microsoft.com/en-us/status/" target="_blank">Azure Status Dashboard</a></li>
                <li><a href="https://twitter.com/azuresupport" target="_blank">AzureSupport on Twitter</a></li>
                <li><a href="https://www.microsoft.com/nl-nl/server-cloud/operations-management-suite/overview.aspx" target="_blank">Operations Management Suite</a></li>
                <li><a href="https://www.microsoft.com/en-gb/cloud-platform/system-center-2016" target="_blank">System Center 2016</a></li>
                <li><a href="https://azure.microsoft.com/en-us/overview/azure-stack/" target="_blank">Azure Stack</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/automation-dsc-overview/" target="_blank">Automation DSC</a></li>
                <li><a href="https://docs.chef.io/azure_portal.html" target="_blank">Chef</a></li>
                <li><a href="https://puppet.com/resources/whitepaper/getting-started-deploying-puppet-enterprise-microsoft-azure" target="_blank">Puppet</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-extensions-features/" target="_blank">Virtual Machine Extensions</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/virtual-machines-windows-manage-availability/" target="_blank">Manage the availability of virtual machines</a></li>
                <li><a href="https://azure.microsoft.com/en-us/documentation/articles/resiliency-high-availability-checklist/" target="_blank">High availability checklist</a></li>

            </ul>
        </div>
    </div>
</div>

