@{
    ViewData["Title"] = "Home Page";
}

<div class="row featurette">

    <div class="col-md-7">
        <h2 class="featurette-heading">Track Azure consumption, control costs and optimize</h2>
        <ul>
            <li><a href="http://ea.azure.com" target="_blank">Azure EA portal </a></li>
            <li><a href="https://account.windowsazure.com/Home/Index" target="_blank">Azure Account portal</a></li>
            <li><a href="http://portal.azure.com" target="_blank">Azure portal </a></li>
            <li><a href="https://powerbi.microsoft.com/en-us/blog/visualize-your-azure-enterprise-data-with-power-bi/" target="_blank">Power BI</a></li>
            <li><a href="http://www.edmondek.com/" target="_blank">Usage Analytics Report</a></li>
            <li><a href="http://portal.newsignature.com" target="_blank">newsignature.com</a></li>
            <li><a href="http://www.hanuinsight.com/" target="_blank">hanuinsight.com</a></li>
            <li><a href="http://www.cloudcruiser.com/" target="_blank">cloudcruiser.com</a></li>
            <li><a href="https://azure.microsoft.com/en-us/documentation/articles/billing-usage-rate-card-overview/" target="_blank">Billing API</a></li>
        </ul>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="~/images/consumption.png" />
    </div>
</div>
<hr class="featurette-divider">

<div class="row featurette">
    <div class="col-md-5">
        <img class="featurette-image img-responsive center-block" src="~/images/request.png" />
    </div>
    <div class="col-md-7">
        <h2 class="featurette-heading">Monitor your hybrid environment</h2>
        <ul>
          
            <li><a href="https://azure.microsoft.com/en-us/status/" target="_blank">Azure Status Dashboard</a></li>
            <li><a href="https://twitter.com/azuresupport" target="_blank">AzureSupport on Twitter</a></li>
            <li><a href="https://oms.microsoft.com" target="_blank">Operations Management Suite. Monitor and control your hybrid environments.</a></li>

        </ul>
    </div>
</div>
<hr class="featurette-divider">
